NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_publishable_key
UPSTASH_REDIS_KV_REST_API_URL=your_upstash_redis_rest_url
UPSTASH_REDIS_KV_REST_API_TOKEN=your_upstash_redis_rest_token
